/* Variables */
:root {
    --background-color: black;
    --search-bg-color: white;
    --icon-color: #bf557a;
    --transition: all .5s ease;
  }
  
  /* Global styles */
  * {
    box-sizing: border-box;
  }
  
  body {
    background: var(--background-color);
  }
  .mid{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  /* Search container */
  .search {
    width: 100px;
    height: 100px;
    margin: 40px auto 0;
    background-color: var(--search-bg-color);
    position: relative;
    overflow: hidden;
    transition: var(--transition);
  }
  
  .search:before {
    content: '';
    display: block;
    width: 3px;
    height: 100%;
    position: relative;
    background-color: var(--icon-color);
    transition: var(--transition);
  }
  
  .search.open {
    width: 420px;
  }
  
  .search.open:before {
    height: 60px;
    margin: 20px 0 20px 30px;
    position: absolute;
  }
  
  /* Search box */
  .search-box {
    width: 100%;
    height: 100%;
    box-shadow: none;
    border: none;
    background: transparent;
    color: var(--icon-color);
    padding: 20px 100px 20px 45px;
    font-size: 40px;
  }
  
  .search-box:focus {
    outline: none;
  }
  
  /* Search button and icon */
  .search-button {
    width: 100px;
    height: 100px;
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 20px;
    cursor: pointer;
  }
  
  .search-icon {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 3px solid var(--icon-color);
    display: block;
    position: relative;
    margin-left: 5px;
    transition: var(--transition);
  }
  
  .search-icon:before {
    content: '';
    width: 3px;
    height: 15px;
    position: absolute;
    right: -2px;
    top: 30px;
    display: block;
    background-color: var(--icon-color);
    transform: rotate(-45deg);
    transition: var(--transition);
  }
  
  .search-icon:after {
    content: '';
    width: 3px;
    height: 15px;
    position: absolute;
    right: -12px;
    top: 40px;
    display: block;
    background-color: var(--icon-color);
    transform: rotate(-45deg);
    transition: var(--transition);
  }
  
  .search.open .search-icon {
    margin: 0;
    width: 60px;
    height: 60px;
    border-radius: 60px;
  }
  
  .search.open .search-icon:before {
    transform: rotate(52deg);
    right: 22px;
    top: 23px;
    height: 18px;
  }
  
  .search.open .search-icon:after {
    transform: rotate(-230deg);
    right: 22px;
    top: 13px;
    height: 18px;
  }
  