:root{
    --body:rgb(177, 214, 162);
    --text:white;
    --box:black;
    --btn:rgb(182, 177, 177);
    --sun:rgba(240, 243, 33, 0.89);
    --moon:rgb(94, 13, 94);
}
*{
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s;
}

body{
    background-color: var(--body);
}
.heading{
    position: relative;
    right:-15px;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    margin: 30px 0px 0px 0px;
}
#day{
    text-shadow: 5px 5px yellow;
    color:white
}
#night{
    text-shadow: 0px 0px yellow;
}
#and{
    font-style:italic;
    font-size: 30px;
    text-transform: lowercase;
}
.boxes{
    background-color: var(--box);
    width: 250px;
    height: 250px;
    color: var(--text);
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    font-size: 0.9rem;
    font-weight: 900;
}
.switch{
    background-color: var(--sun);
    width: 100px;
    height: 40px;
    border-radius: 25px;
    position: relative;
}
.col-4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    vertical-align: middle;
    height: 100vh;
    
}
.switch img{
    width: 30px;
    position: absolute;
}
#sun{
    left: 5px;
    top: 3px;
    transition: 0.3s ease-in, 0.3s ease-out;
}

#moon{
    top: 1px;
    right: 5px;
    display: none;
    transition: 0.3s ease-in, 0.3s ease-out;
}

