*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
h1{
    margin-bottom: 10px;
}
div#container{

    background-color: rgb(0, 0, 0);
    position: relative;
}
p{  
    padding-top: 10px;
    width: 100px;
    height: 40px;
    border: 1px solid rgb(136, 135, 135);
    margin-bottom: 15px;
    color: aliceblue;
    text-align: center;
    float: right;
    position: relative;
    top:7px;

}
#p1{
    background-color: rgb(0, 0, 0);
    margin-right: 5px;
 
}
#p2{
    background-color: rgb(0, 0, 0);

}
#p3{
    background-color: rgb(0, 0, 0);
    
}
#p4{
    background-color: rgb(0, 0, 0);
}
section{
    clear: right;
}
a{
    text-decoration: none;
    color: white;
}
a#google:hover{

    color:yellow;

}
a#Youtube:hover{

    color:red;

}
a#Facebook:hover{

    color:rgb(1, 12, 114);

}
a#Github:hover{

    color:#1DB954;

}