*{
    margin:0;
    padding: 0;
    box-sizing: border-box;

}
h1{
    text-align: center;
}

div{
    background-color: rgb(162, 226, 255);
}
p{
    width:50%;
    height: 50px;
    border: 1px solid white;    
    float: left;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    padding: 0.5em;
}
#p1{
    background-color: blue;
    
}
#p2{
    background-color: blueviolet;

}
#p3{
    background-color: burlywood;
    
}
#p4{
    background-color: chartreuse;
}
section{
    clear: left;
    text-align: center;
}