#title{
    text-align:center;
    font-size: 50px;
    font-family: Helvetica, sans-serif;
    margin-top: 15px;
}
#name{
    font-weight: bold;
    padding-left: 5px;
}
#incenter{
    text-align: center;
    
}